*.user
.qmake.stash
Makefile
bin/**
build/**
helper/*.o
helper/moc*.*
helper/octphelper
cachecleaner/bin/**
cachecleaner/build/**
notifier/bin/**
notifier/build/**
octopi.pro.user
qrc_resources.cpp
repoeditor/bin/**
repoeditor/build/**
sudo/*.o
sudo/moc*.*
sudo/octopi-sudo
sudo/qrc*.cpp
sudo/ui_pass*.h
