*.user
.qmake.stash
.qtc_clangd/**
Makefile
bin/**
build/**
build_dir/**
helper/*.o
helper/.qtc_clangd/**
helper/moc*.*
helper/octphelper
cachecleaner/bin/**
cachecleaner/build/**
cachecleaner/.qtc_clangd/**
notifier/bin/**
notifier/build/**
notifier/.qtc_clangd/**
notifier/.qtc/**
notifier/.cmake/**
notifier/CMakeCache*
notifier/CMakeFiles*
notifier/qtcsettings.cmake
octopi.pro.user
qrc_resources.cpp
repoeditor/.qtc_clangd/**
repoeditor/bin/**
repoeditor/build/**
result
result/**
sudo/*.o
sudo/moc*.*
sudo/octopi-sudo
sudo/qrc*.cpp
sudo/ui_pass*.h
sudo/.qtc_clangd
