[Desktop Entry]
Categories=System;Tools;
Comment[en_US]=Add or remove software installed on the system
Comment=Add or remove software installed on the system
Comment[af]=Voeg by of verwyder sagteware geïnstalleer op die stelsel
Comment[ar]=أضف أو أزل البرمجيات المثبتة على النظام
Comment[as]=ব্যৱস্থাপ্ৰণালীত সংস্থাপিত চালনাজ্ঞান উন্নয়ন কৰক
Comment[ast]=Amestar o quitar software instaláu nel sistema
Comment[be]=Дадаць ці выдаліць апраграмаванне, усталяванае ў сістэме
Comment[bg]=Инсталиране и деинсталиране на софтуер към системата
Comment[bn]=সিস্টেমে সফ্টওয়্যার যোগ করুন অথবা ইনস্টল করা সফ্টওয়্যার অপসারণ
Comment[bn_IN]=সিস্টেমে সফ্টওয়্যার যোগ করুন অথবা ইনস্টল করা সফ্টওয়্যার সরিয়ে ফেলুন
Comment[ca@valencia]=Afig o suprimeix programari instal·lat en el sistema
Comment[ca]=Afegeix o suprimeix programari instal·lat en el sistema
Comment[cs]=Přidat nebo odebrat software instalovaný v systému
Comment[da]=Tilføj eller fjern software installeret på systemet
Comment[de]=Auf dem System installierte Software aktualisieren oder neue Software hinzufügen
Comment[el]=Προσθαφαίρεση λογισμικού στο σύστημα
Comment[en@shaw]=𐑨𐑛 𐑹 𐑮𐑦𐑥𐑵𐑝 𐑕𐑪𐑓𐑑𐑢𐑺 𐑦𐑯𐑕𐑑𐑷𐑤𐑛 𐑪𐑯 𐑞 𐑕𐑦𐑕𐑑𐑩𐑥
Comment[en_GB]=Add or remove software installed on the system
Comment[eo]=Aldoni aŭ forigi instalitan pogramaron sur via sistemo
Comment[es]=Añadir o quitar software instalado en el sistema
Comment[et]=Arvutisse paigaldatud tarkvara lisamine ja eemaldamine
Comment[eu]=Gehitu edo kendu sisteman instalatutako softwarea
Comment[fa]=حذف یا افزودن نرم‌افزارهای نصب شده بر روی این سیستم
Comment[fi]=Lisää tai poista järjestelmään asennettuja ohjelmistoja
Comment[fr]=Ajouter ou supprimer des logiciels installés sur le système
Comment[gl]=Engadir e eliminar o software instalado no sistema
Comment[gu]=સિસ્ટમ પર સ્થાપિત થયેલ સોફ્ટવેરને ઉમેરો અથવા દૂર કરો
Comment[he]=הוספה או הסרה של יישומי המערכת
Comment[hi]=सिस्टम पर संस्थापित सॉफ्टवेयर जोड़ें या हटाएँ
Comment[hu]=Szoftverek rendszerre telepítése vagy eltávolítása
Comment[id]=Tambah atau hapus perangkat lunak yang terpasang pada sistem
Comment[it]=Aggiunge o rimuove software installato sul sistema
Comment[ja]=システムにインストールされたパッケージの追加と削除
Comment[kn]=ಗಣಕಕ್ಕೆ ತಂತ್ರಾಂಶವನ್ನು ಸೇರಿಸು ಅಥವ ಅನುಸ್ಥಾಪಿತಗೊಂಡಿರುವುದನ್ನು ತೆಗೆದು ಹಾಕು
Comment[ko]=시스템에 설치하는 소프트웨어를 추가하거나 제거합니다
Comment[lt]=Įdiegti ar šalinti sistemoje įdiegtą programinę įrangą
Comment[lv]=Pievienot vai izņemt programmatūru sistēmā
Comment[mk]=Инсталирајте или избришете софтвер на системот
Comment[ml]=സിസ്റ്റത്തില്‍ ഇന്‍സ്റ്റോള്‍ ചെയ്തിരിക്കുന്ന സോഫ്റ്റ്‌വെയര്‍ ചേര്‍ക്കുക അല്ലെങ്കില്‍ നീക്കം ചെയ്യുക
Comment[mr]=प्रणालीवर प्रतिष्ठापीत सॉफ्टवेअर समावेष करा किंवा काढूण टाका
Comment[ms]=Menambah atau memadam perisian yang dipasang pada sistem
Comment[nb]=Legg til eller fjern programvare på systemet
Comment[nl]=Software installeren op, of verwijderen van het systeem
Comment[nn]=Legg til eller fjern programvare som er installert på systemet
Comment[or]=ତନ୍ତ୍ରରେ ସ୍ଥାପିତ ସଫ୍ଟୱେରରେ ଯୋଗକରନ୍ତୁ କିମ୍ବା କାଢ଼ି ଦିଅନ୍ତୁ
Comment[pa]=ਸਿਸਟਮ ਉੱਤੇ ਸਾਫਟਵੇਅਰ ਇੰਸਟਾਲ ਕਰੋ ਜਾਂ ਇੰਸਟਾਲ ਕੀਤੇ ਹਟਾਓ
Comment[pl]=Instalowanie lub usuwanie oprogramowania zainstalowanego w systemie
Comment[pt]=Adicionar ou remover software instalado no sistema
Comment[pt_BR]=Adicione ou remova programas instalados no sistema
Comment[ro]=Adăugați sau ștergeți programe instalate pe sistem
Comment[ru]=Установка и удаление программ, установленных в системе
Comment[sk]=Pridať alebo odstrániť softvér nainštalovaný v systéme
Comment[sl]=Nameščanje in odstranjevanje programske opreme sistema
Comment[sr@latin]=Dodajte ili uklonite programe instalirane na ovom sistemu
Comment[sr]=Додајте или уклоните програме инсталиране на овом систему
Comment[sv]=Lägg till eller ta bort programvara installerad på systemet
Comment[ta]=கணினியில் நிறுவப்பட்ட மென்பொருளை சேர்க்கவும் அல்லது நீக்கவும்
Comment[te]=ఈ వ్యవస్థ నందు స్థాపించిన సాఫ్ట్‍వేర్‌ను జతచేయి లేదా తీసివేయి
Comment[th]=เพิ่มหรือลบซอฟต์แวร์ที่ติดตั้งในระบบ
Comment[tr]=Sisteminizde yüklü yazılımları ekleyin veya kaldırın
Comment[ug]=سىستېمىڭىزغا ئورنىتىلغان يۇمشاق دېتاللارنى قوشىدۇ ياكى ئۆچۈرىدۇ
Comment[uk]=Встановлення та вилучення програм у системі
Comment[vi]=Thêm hoặc gỡ phần mềm cài đặt trên hệ thống
Comment[zh_CN]=添加或删除系统中安装的软件
Comment[zh_HK]=加入或移除系統上安裝的軟件
Comment[zh_TW]=加入或移除系統上安裝的軟體
Exec=octopi
Name[en_US]=Octopi
Name=Octopi
Icon=octopi
MimeType=
GenericName[en_US]=Add/Remove Software
GenericName=Add/Remove Software
GenericName[af]=Voeg by/verwyder sagteware
GenericName[ar]=إضافة وإزالة البرمجيات
GenericName[as]=চালনাজ্ঞান যোগ কৰক/আঁতৰাই দিয়ক
GenericName[ast]=Amestar/Quitar software
GenericName[be]=Дадаць/выдаліць апраграмаванне
GenericName[bg]=Инсталиране/деинсталиране на софтуер
GenericName[bn]=সফ্টওয়্যার যোগ/অপসারণ
GenericName[bn_IN]=সফ্টওয়্যার যোগ/অপসারণ করুন
GenericName[ca@valencia]=Afig/Suprimeix programari
GenericName[ca]=Afegeix/Suprimeix programari
GenericName[cs]=Přidat/odebrat software
GenericName[da]=Tilføj/fjern software
GenericName[de]=Software hinzufügen/entfernen
GenericName[el]=Προσθαφαίρεση λογισμικού
GenericName[en@shaw]=𐑨𐑛/𐑮𐑦𐑥𐑵𐑝 𐑕𐑪𐑓𐑑𐑢𐑺
GenericName[en_GB]=Add/Remove Software
GenericName[eo]=Aldoni/forigi instalitan pogramaron
GenericName[es]=Añadir/Quitar software
GenericName[et]=Tarkvara lisamine ja eemaldamine
GenericName[eu]=Gehitu/Kendu softwarea
GenericName[fa]=افزودن/حذف نرم‌افزار
GenericName[fi]=Lisää tai poista ohjelmistoja
GenericName[fr]=Ajouter/supprimer des logiciels
GenericName[ga]=Cuir Leis/Bain Bogearraí
GenericName[gl]=Engadir ou eliminar programas
GenericName[gu]=સોફ્ટવેરને ઉમેરો/દૂર કરો
GenericName[he]=הוספת/הסרת תכנה
GenericName[hi]=सॉफ्टवेयर जोड़ें/हटायें
GenericName[hu]=Szoftver telepítése/eltávolítása
GenericName[id]=Tambah/Hapus Piranti Lunak
GenericName[it]=Aggiungi/Rimuovi software
GenericName[ja]=ソフトウェアの追加と削除
GenericName[kn]=ತಂತ್ರಾಂಶವನ್ನು ಸೇರಿಸು ಅಥವ ತೆಗೆ
GenericName[ko]=소프트웨어 추가/제거
GenericName[lt]=Įdiegti ar šalinti programinę įrangą
GenericName[lv]=Pievienot/Izņemt programmatūru
GenericName[mk]=Инсталирај/избриши софтвер
GenericName[ml]=സോഫ്റ്റ്‌വെയര്‍ ചേര്‍ക്കുക/നീക്കം ചെയ്യുക
GenericName[mr]=सॉफ्टवेअर जोडा/काढून टाका
GenericName[ms]=Menambah/Memadam perisian
GenericName[nb]=Legg til/fjern programvare
GenericName[nl]=Software installeren/verwijderen
GenericName[nn]=Legg til/fjern programvare
GenericName[or]=ସଫ୍ଟୱେର ଯୋଗ/ଅପସାରଣ କରନ୍ତୁ
GenericName[pa]=ਸਾਫਟਵੇਅਰ ਸ਼ਾਮਲ/ਹਟਾਓ
GenericName[pl]=Dodanie/usuwanie oprogramowania
GenericName[pt]=Adicionar/Remover Software
GenericName[pt_BR]=Adicionar/remover programas
GenericName[ro]=Adăugare sau ștergere programe
GenericName[ru]=Установка и удаление программ
GenericName[sk]=Pridať/odstrániť softvér
GenericName[sl]=Upravljanje programske opreme
GenericName[sr@latin]=Dodaj-ukloni programe
GenericName[sr]=Додај-уклони програме
GenericName[sv]=Lägg till/Ta bort programvara
GenericName[ta]=மென்பொருளை சேர்த்தல்/நீக்குதல்
GenericName[te]=సాఫ్ట్‍వేర్ జతచేయి/తీసివేయి
GenericName[th]=เพิ่ม/ลบซอฟต์แวร์
GenericName[tr]=Yazılım Ekle/Kaldır
GenericName[ug]=يۇمشاق دېتالنى قوش/ئۆچۈر
GenericName[uk]=Встановлення та вилучення програм
GenericName[vi]=Thêm/Gỡ phần mềm
GenericName[zh_CN]=添加/删除软件
GenericName[zh_HK]=加入或移除軟件
GenericName[zh_TW]=加入或移除軟體
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
