[Desktop Entry]
Name=Octopi CacheCleaner
Icon=octopi
Exec=octopi-cachecleaner
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
#NotShowIn=GNOME;XFCE;LXDE;KDE;
StartupNotify=true
